/*==================== HEADER ====================-*/
.header {
  background-image: url("../img/Mask Group.png");
  background-color: #0C1727;
  min-height: 1129px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  padding: 2rem 0 0 3.5rem;
}
.nav__menu {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
}
.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}
.nav__list-login {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  padding-right: 50px;
}
.nav__link {
  color: #858A92;
}

.active-link {
  color: #fff;
}

.button {
  box-sizing: border-box;
}
.button-primary {
  background-color: #fff;
  color: black;
  padding: 15px;
  border-radius: 20px;
}
.button-email {
  background: #FFFFFF;
  border-radius: 30px;
  color: black;
  padding: 15px;
  border-radius: 20px;
}

.home__content {
  text-align: center;
}
.home__title {
  margin-top: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 108px;
  text-align: center;
  letter-spacing: -0.05em;
  background: linear-gradient(85.99deg, #E17761 -2.43%, #FD88CE 61.98%, #FBB464 103.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.home__checker {
  display: inline-flex;
  margin-top: 20px;
}
.home__checker__point {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-right: 20px;
}
.home__email {
  position: relative;
  margin-top: 100px;
}
.home__email form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__email__control {
  width: 420px;
  height: 54px;
  border: 2px solid #2E3845;
  border-radius: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 50px;
  color: #616973;
  padding-left: 25px;
  background: none;
}
.home__email a {
  position: absolute;
  right: 5px;
}

/*************************About*************************/
.about__content-img {
  position: absolute;
  width: 1170px;
  top: 1170px;
  border-radius: 50px;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  display: none;
}
.about__content-text {
  margin-top: 120px;
}
.about__content-logo {
  display: flex;
  justify-content: space-evenly;
}
.about__content-middel {
  display: flex;
  margin-top: 93px;
  justify-content: space-between;
}
.about__content-info {
  margin-top: 10%;
  margin-left: 10%;
}
.about__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #0C1727;
}
.about__content-description {
  padding-top: 20px;
  padding-bottom: 50px;
  color: #9A9B9A;
}
.about__content-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.about__content-card li:first-child h1 {
  background: #FFFFFF;
  box-shadow: 10px 30px 80px rgba(0, 0, 0, 0.08);
}
.about__content-card li > h1 {
  background: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 178px;
  height: 178px;
  border-radius: 20px;
  text-align: center;
}

/*=================Feature==================*/
.feature__container {
  background: #0C1727;
}
.feature__content {
  display: flex;
  justify-content: space-between;
  padding-top: 119px;
  padding-left: 208px;
  padding-bottom: 137px;
  padding-right: 66px;
}
.feature__content-left {
  flex-basis: 47%;
}
.feature__content-time {
  display: flex;
  justify-content: space-between;
  color: #9A9B9A;
}
.feature__content-comment-box {
  color: #FFFFFF;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
}
.feature__content-right {
  flex-basis: 47%;
}
.feature__content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 89px;
  letter-spacing: -0.06em;
  color: #FFFFFF;
}
.feature__content-description {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.06em;
  color: #9A9B9A;
  padding-top: 16px;
  padding-bottom: 60px;
}
.feature__content-point {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature__content-check {
  display: flex;
  flex-basis: 47%;
  row-gap: 15px;
  column-gap: 30px;
}
.feature__content-check i {
  color: #39B7FE;
}
.feature__content .title {
  color: #FFFFFF;
}
.feature__content .details {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.06em;
  padding-top: 11px;
  padding-bottom: 39px;
  color: #6C737D;
}

/****===============CARD==================**/
.card__title {
  font-size: 75px;
  text-align: center;
  color: #000000;
  background: #FFFFFF;
  border-radius: 30px;
  margin-top: 109px;
  margin-bottom: 20px;
}
.card__description {
  font-style: normal;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}
.card__trial {
  text-align: center;
}
.card__button {
  width: 201px;
  height: 58px;
  background: #0C1727;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 124px;
}
.card__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
}
.card__list-box {
  flex-basis: 337px;
  background: #0C1727;
  border: 1px solid #686F79;
  border-radius: 30px;
  padding: 60px 55px 50px;
  margin-bottom: 91px;
  text-align: center;
}
.card__list-box i {
  width: 60px;
  height: 60px;
  background: #61C0F1;
  box-shadow: 0px 15px 30px rgba(5, 81, 120, 0.08);
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 100%;
  margin-bottom: 88px;
  line-height: 60px;
  text-align: center;
}
.card__list-title {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.card__list-description {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.06em;
  color: #6C737D;
}

.store__content {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
}
.store__content-left-title {
  margin-top: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 74px;
  line-height: 89px;
  letter-spacing: -0.06em;
  color: #0C1727;
}
.store__content-left-description {
  margin-bottom: 60px;
}
.store__content-left-img > img:first-child {
  margin-right: 20px;
}
.store__content-right-img > img:first-child {
  margin-right: 10px;
}

/**====================footer======================**/
.footer {
  background: #1E2833;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 104px;
}
.footer__content-left-title {
  .
                    padding-top: 66px;
  padding-bottom: 85px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}
.footer__content-left-sub-title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 26px;
  /* or 81% */
  color: #FFFFFF;
  padding-bottom: 30px;
}
.footer__content-left-email {
  padding-bottom: 120px;
}
.footer__content-left-email form {
  position: relative;
}
.footer__content-left-email i {
  background-color: #3AB7FE;
  border-radius: 100%;
  width: 51px;
  height: 51px;
  text-align: center;
  line-height: 51px;
  position: absolute;
  right: 1px;
}
.footer__content-left-end {
  display: flex;
  column-gap: 41px;
}
.footer__content-left-end-title {
  color: #FFFFFF;
  font-size: 15px;
}
.footer__content-right-head {
  display: flex;
  column-gap: 87px;
}
.footer__content-right-title {
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height, or 144% */
  color: #FFFFFF;
}
.footer__content-right-button {
  width: 201px;
  height: 58px;
  background: #3AB7FE;
  border-radius: 30px;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  text-align: center;
  color: #fff;
  margin-bottom: 82px;
}
.footer__content-right-list {
  display: flex;
  justify-content: space-between;
}
.footer__content-right-list h2 {
  background: linear-gradient(86.33deg, #445599 -5.37%, #757399 12.79%, #AD6FB8 28.42%, #D763BA 44.56%, #CD4F8B 58.18%, #B74777 68.26%, #C6405F 80.37%, #A2504D 91.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.footer__content-right-list-option {
  margin-top: 10px;
}
.footer__content-right-list-option-link {
  margin-top: 10px;
  color: #D8D9DB;
}
.footer__content-right-icon {
  color: #fff;
  display: flex;
  column-gap: 30px;
  padding-top: 90px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-size: large;
}

body {
  cursor: pointer;
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: black;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
}